<template name="home">
  <div class="container">
    <div class="row">
      <div class="col s12 m9 l10">        
        <div id="features" class="section scrollspy">
          <div class="row container">
            <h1 class="center letter">Features</h1>
              <p class="grey-text text-darken-1 lighten-1 flow-text">CSV For All is an application that allows CSV files to be loaded quickly of establishments, allowing later upload CSV files of sales related to establishments, finally in the sales list can be assigned a time schedule per sale so that at the time of expiry automatically send a notification message to the entity email.</p>
              <div class="slider">
                <ul class="slides">
                  <li>
                    <img class='responsive' src="images/establishmentsList.png"> <!-- random image -->
                  </li>
                  <li>
                    <img class='responsive' src="images/picker.png"> <!-- random image -->
                  </li>
                  <li>
                    <img class='responsive' src="images/scheduleActive.png"> <!-- random image -->
                  </li>
                  <li>
                    <img class='responsive' src="images/salesList.png"> <!-- random image -->
                  </li>
                  <li>
                    <img class='responsive' src="images/modalDetail.png"><!-- random image -->
                  </li>
                </ul>
              </div>
          </div>
        </div>

        <div id="benefits" class="section scrollspy">
          <div class="row container">
            <h1 class="center letter">Benefits</h1>
            <div class="col s4">
              <!-- Promo Content 1 goes here -->
              <i class="large material-icons icon-red">group</i>
              <h4 class="header flow-text">Users</h4>
              <p class="grey-text text-darken-1 lighten-1 flow-text">Register is free!.</p>
            </div>
            <div class="col s4">
              <!-- Promo Content 2 goes here -->
              <i class="large material-icons icon-red">file_upload</i>
              <h4 class="header flow-text">Upload</h4>
              <p class="grey-text text-darken-1 lighten-1 flow-text">You can upload CSV files easily and quickly.</p>
            </div>
            <div class="col s4">
              <!-- Promo Content 3 goes here -->
              <i class="large material-icons icon-red">dvr</i>
              <h4 class="header flow-text">CSV Lists</h4>
              <p class="grey-text text-darken-1 lighten-1 flow-text">You can interact with the lists provided by the application.</p>
            </div>
          </div>
          <div class="row">
            <div class="col s4">
              <!-- Promo Content 1 goes here -->
              <i class="large material-icons icon-red">schedule</i>
              <h4 class="header flow-text">Schedule</h4>
              <p class="grey-text text-darken-1 lighten-1 flow-text">You can set the expiration time of each sale.</p>
            </div>
            <div class="col s4">
              <!-- Promo Content 3 goes here -->
              <i class="large material-icons icon-red">mail</i>
              <h4 class="header flow-text">Send Mail</h4>
              <p class="grey-text text-darken-1 lighten-1 flow-text">When the time of sale expires, an email will be automatically sent to the entity that belongs to the same.</p>
            </div>
            <div class="col s4">
              <!-- Promo Content 2 goes here -->
              <i class="large material-icons icon-red center">card_travel</i>
              <h4 class="header flow-text">Work</h4>
              <p class="grey-text text-darken-1 lighten-1 flow-text">Allows control of small, medium and large establishments and even private individuals.</p>
            </div>
          </div>
        </div>

        <div id="instructions" class="section scrollspy">
          <div class="row container">
            <h1 class="center letter">Instructions</h1>
            <div class="col s12">
              <!-- Promo Content 1 goes here -->
              <h4 class="header flow-text">Establishments Table</h4>
              <p class="grey-text text-darken-1 lighten-1 flow-text">Here it is visualized how must be formed a table of establishments.</p>
              <img class="materialboxed responsive-img" data-caption="How to fill a table of establishments" width="250" src="images/establishments.png">
            </div>
            <div class="col s12">
              <!-- Promo Content 1 goes here -->
              <h4 class="header flow-text">How to relate establishments with each sale?</h4>
              <p class="grey-text text-darken-1 lighten-1 flow-text">In each red box is displayed the identification that must be added to the each sale of the table to relate both entities.</p>
              <img class="materialboxed responsive-img" data-caption="How to relate establishments with each sale?" width="250" src="images/establishmentList_showId.png">
            </div>
            <div class="col s12">
              <!-- Promo Content 1 goes here -->
              <h4 class="header flow-text">Sales Table</h4>
              <p class="grey-text text-darken-1 lighten-1 flow-text">Here it is visualized how must be formed a table of sales.</p>
              <img class="materialboxed responsive-img" data-caption="How to fill a table of sales" width="250" src="images/sales.png">
            </div>
          </div>
        </div>
      </div>

      <div class="col hide-on-small-only m3 l2">
        <ul class="section table-of-contents">
          <li><a href="#features">Features</a></li>
          <li><a href="#benefits">Benefits</a></li>
          <li><a href="#instructions">Instructions</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>