<template name="list">
	<table class='highlight'>
    <thead>
      <tr>
          <th class="">Name</th>
          <th class="">Email</th>
          <th class="">Activity</th>
          <th class="">Gender</th>
          <th class="">Pay</th>
          <th class="">Date</th>
          <th class="">State</th>
          <th class="">Delete</th>
          <th class="">Status</th>
          <th>
            
          </th>
      </tr>
    </thead>

    <tbody>
    	{{#each sales}}
      <tr>
        <td>{{> editableText collection="sales" field="name" userCanEdit=userCanEdit }}</td>
        <td>{{> editableText collection="sales" field="email" userCanEdit=userCanEdit }}</td>
        <td>{{> editableText collection="sales" field="activity" userCanEdit=userCanEdit }}</td>
        <td>{{> editableText collection="sales" field="gender" userCanEdit=userCanEdit }}</td>
        <td>{{> editableText collection="sales" field="pay" userCanEdit=userCanEdit }}</td>
        {{#if state}}
        <td class="center">{{date}}</td>
        {{else}}
        <td>
          <label>{{date}}</label>
          <input id="dp{{_id}}" type="date" class="datepicker">
        </td>
        {{/if}}
        <td>
          <div class="switch">
            <label>
              Off
              <input id="d{{_id}}" type="checkbox" class="js-switch" checked="{{state}}">
              <span class="lever"></span>
              On
              </label>
          </div>
        </td>
        <td><a class="js-delete-data" href="#"><i class="material-icons icon-red">delete_forever</i></a></td>
        {{#if status}}
        <td><i class="material-icons icon-yellow">warning</i></td>
        {{else}}
        <td><i class="material-icons icon-teal">done</i></td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</template>