<template name="uploadEstablishment">
	{{#if currentUser}}
	<div class="row">
		<div class="col l12">
		  <h1 class="center letter">Upload your Establishment CSV file here!</h1>
		  <br><br>
		  {{#unless uploading}}
		    <form action="#" class='col l6 m12 s12 offset-l3'>
		    <div class="file-field input-field">
		      <div class="btn">
		        <span>CSV File</span>
		        <input type="file" name="uploadCSV">
		      </div>
		      <div class="file-path-wrapper">
		        <input class="file-path validate" type="text">
		      </div>
		    </div>
		  </form>
		  {{else}}
		  <div class='col offset-l6 offset-m6 offset-s6'>
			 <div class="preloader-wrapper small active">
	      <div class="spinner-layer spinner-blue">
	        <div class="circle-clipper left">
	          <div class="circle"></div>
	        </div><div class="gap-patch">
	          <div class="circle"></div>
	        </div><div class="circle-clipper right">
	          <div class="circle"></div>
	        </div>
	      </div>

	      <div class="spinner-layer spinner-red">
	        <div class="circle-clipper left">
	          <div class="circle"></div>
	        </div><div class="gap-patch">
	          <div class="circle"></div>
	        </div><div class="circle-clipper right">
	          <div class="circle"></div>
	        </div>
	      </div>

	      <div class="spinner-layer spinner-yellow">
	        <div class="circle-clipper left">
	          <div class="circle"></div>
	        </div><div class="gap-patch">
	          <div class="circle"></div>
	        </div><div class="circle-clipper right">
	          <div class="circle"></div>
	        </div>
	      </div>

	      <div class="spinner-layer spinner-green">
	        <div class="circle-clipper left">
	          <div class="circle"></div>
	        </div><div class="gap-patch">
	          <div class="circle"></div>
	        </div><div class="circle-clipper right">
	          <div class="circle"></div>
	        </div>
	      </div>
	    </div>
	   </div>
		 {{/unless}}
		</div>
	</div>
	{{/if}}
</template>